* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    box-sizing: border-box;
    background-color: black;
    color: white;   
}

strong {
    color: #999999;
}

.front {
    margin: 18%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.front_conteudo{
    width: 75%;
}

.front_titulo {
    font-size: 36px;
    line-height: 46px;
}

.front_conteudo_texto{
    margin: 20px 0px 20px 0px;
    font-size: 22px;
    line-height: 26px;
}

.destaque {
    color: #999999;
}

img {
    border-radius: 10px;
}