
  @import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat&display=swap');


* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    box-sizing: border-box;
    background-color: black;
    color: white;   
}

strong {
    color: #999999;
}

.front {
    margin: 15%; 
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.front_conteudo{
    width: 69%;
    display: flex;
    flex-direction: column;
    gap: 20px;

    
}

.front_btt {
    display:flex;
    justify-content: space-between;
}

.front_btt1{
    padding: 10px 0px 10px 0px;
    width: 48%;
    border-radius: 10px;
    background-color: #414141;
    text-align: center;
    text-decoration-line: none;
    color: white;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;

}

.front_titulo {
    font-size: 31px;
    line-height: 38px;
    font-family: 'Krona One', sans-serif;
}

.front_conteudo_texto{
    /*margin: 20px 10px 20px 0px; caso queira usar o margin*/
    font-size: 14px;
    line-height: 26px;
    font-family: 'Montserrat', sans-serif;
}

.destaque {
    color: #999999;
}

img {
    border-radius: 10px;
}